html, body{
    height: 100%;
	width:  100%;
    margin:0;
    padding:0;
} 

img { max-width:100%; }

#map_div {
    height: 100%;
	width:  100%;
    margin:0;
    padding:0;
}

#map_div img { max-width:none; }

