{% load staticfiles %}
<head>
    <title>Real Time Map</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Arnaud Vandecasteele - Memorial University of Newfoundland">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="{% static "websockets_map/third_libs/js/OpenLayers-2.12/OpenLayers.js" %}"></script>
	<script type="text/javascript" src="{% static "websockets_map/third_libs/js/stamen/tile.stamen.js" %}"></script>
    <script type="text/javascript" src="{% static "websockets_map/libs/js/map.js" %}"></script>
    {% load socketio_tags %}
    {% socketio %}   
    <!-- CSS -->
    <style>  		
        @import url("{% static "websockets_map/third_libs/js/OpenLayers-2.12/theme/default/style.css" %}");
        @import url("{% static "websockets_map/css/map.css" %}");	  
    </style>
</head>

